.cartIcon {
    width: 75px;
    height: 75px;
    background-color: #6d6c63;
    position: fixed;
    top: 12.5%;
    right: 3.5%;
    border-radius: 50%;
    box-shadow: 0 0 65px 5px rgba(#000, 0.2);
    color: #000;

    .cart {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1000;
    }

    span {
        position: absolute;
        bottom: 9px;
        right: 8px;
        font-size: 16px;
        font-weight: 800;
    }
}