.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

    .summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        border: 1px solid black;

        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}