header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    font-family: Rationale;
    background: linear-gradient(93.55deg, #FFC911 0%, #E3B827 0.01%, #F7BE00 105.1%);
    z-index: 1000;

    color: #108A7D;

    a {
        font-size: 55px;
        text-decoration: none;
        color: #108A7D;
    }

    svg {
        cursor: pointer;
    }
}