.userpage {
    height: calc(100% - 90px);
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: 1024px) {
        align-items: center;
    }

    .container {
        width: 100%;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        @media (min-width: 1024px) {
            width: 75%;
            height: 75%;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 95%;

            @media (min-width: 1024px) {
                width: 50%;
            }

            label {
                font-size: 20px;
            }

            button {
                margin-top: 20px;
            }

            a {
                display: block;
                width: 100%;
            }
        }

    }
}